    <!-- About Section -->
    <section id="about" class="container content-section">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <h2>Sell Your House or Land For Cash!</h2>
                <p>We are a private real estate acquisition company located in Dimondale, MI.</p>
                <p>If you have a house or land parcel that you want to sell fast for cash we are interested in buying it!</p>
                <p>Can you relate to any of the following questions regarding your property?</p>
                <ul>
                  <li>Did you have plans to retire in this area, but changed your mind and now you feel stuck with your property?</li>
                  <li>Did you inherit your property, but you have no intention of moving and now you are having trouble selling the property?</li>
                  <li>When you bought the property did they promise you that the property area would be developed into something like the next Palm Springs, but you soon realized that nothing could be further from the truth?</li>
                  <li>Are you just holding on to your property because you think selling it is too much of a hassle?</li>
                </ul>
                <p>If you are considering selling your property, <strong>WE WANT TO BUY IT!</strong> We are not interested in listing your property for you; we actually want to buy your property now and are prepared to pay you cash for it.</p>
                <p>We buy real estate fast and for <strong>cash</strong>. We strive to make the sales process very easy for our customers. If you would like to have cash in exchange for your property, please complete our easy offer request form or give us a call.</p></div>
        </div>
    </section>
